.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: $c-header-bg;
  box-shadow: 0 -2px 6px 1px $c-header-shadow;
}

.logo {
  max-width: 100px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.menu {
  display: flex;

  &-item {
    margin: 0 5px;

    &:last-child {
      margin-right: 0;
    }

    & .active {
      color: $c-link-active;
      text-decoration: underline;
    }
  }
}